:root {
  --color-accent: #9bd4c5;
  --color-border: rgba(255, 255, 255, 0.51);

  --color-text-variant: hsl(217 19% 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yatra One', system-ui;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: image-set(
    url('/image/bg-mobile.webp') type('image/webp'),
    url('/image/bg-mobile.jpg') type('image/jpeg')
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* common */
.glass {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid var(--color-border);
}

.todo {
  position: relative;
  width: 80%;
  max-width: 450px;
  margin-block: 2rem;
  padding: clamp(1.5rem, 5vw, 2.5rem) clamp(1rem, 5vw, 2rem);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1);
}

/* header */
.header__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(2rem, 5vw, 2.8rem);
}

.header__logo {
  width: 4rem;
}

.header__themeBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  border: 2px solid transparent;
  border-radius: 50%;
  color: var(--color-text);
  font-size: 1.5rem;
  transition: all 300ms ease-out;
}
.header__themeBtn:active {
  border: 2px solid var(--color-accent);
  transform: translateY(2px);
}

.header__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.filter__btn {
  padding: clamp(0.2rem, 1vw, 0.5rem) clamp(0.5rem, 2vw, 0.8rem);
  border: 2px solid transparent;
  border-radius: 8px;
  color: var(--color-text);
  font-size: clamp(0.8rem, 2vw, 1rem);
  cursor: pointer;
  transition: all 300ms ease;
}

.btn--selected {
  background-color: var(--color-accent);
}

.filter__btn:active {
  border: 2px solid var(--color-accent);
  transform: translateY(2px);
}

/* main */
.todo__main {
  margin: 1rem 0;
}

.main__items {
  height: clamp(300px, 60vw, 350px);
  margin-block: clamp(0.5rem, 5vw, 1rem);
  padding: clamp(0.8rem, 2vw, 1rem) clamp(0.5rem, 2vw, 1rem);
  padding-right: clamp(0.8rem, 5vw, 1.1rem);
  border-radius: 16px;
  overflow-y: auto;
}

.item__row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: clamp(0.5rem, 2vw, 0.8rem);
}

.item__checkbox {
  appearance: none;
  position: relative;
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  transition: all 250ms ease;
  cursor: pointer;
}
.item__checkbox:active {
  border: 2px solid var(--color-accent);
}
.item__checkbox:checked {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
.item__checkbox:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.item__checkbox:checked + .item__name {
  text-decoration: line-through;
  text-decoration-color: var(--color-accent);
}

.item__name {
  flex: 1 1 100%;
  font-size: clamp(1rem, 2vw, 1.3rem);
  cursor: pointer;
}

.item__deleteBtn {
  color: var(--color-text);
  transition: all 300ms ease;
}
.item__deleteBtn:active {
  color: var(--color-accent);
  transform: rotate(10deg) scale(1.2);
}

/* footer */
.footer__form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.form__label {
  position: absolute;
  left: 8px;
  bottom: 4px;
  color: var(--color-text-variant);
  font-size: clamp(1rem, 2vw, 1.2rem);
  cursor: text;
}

#form__input {
  flex: 1 1 auto;
  min-width: 0;
  padding-inline: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-border);
  background: transparent;
  color: var(--color-text);
  font-size: clamp(1.2rem, 2vw, 1.7rem);
}
#form__input:focus {
  border-bottom: 2px solid var(--color-accent);
}
#form__input:focus-visible ~ .form__label {
  visibility: hidden;
}

.form__addBtn {
  width: clamp(2rem, 5vw, 2.5rem);
  height: clamp(2rem, 5vw, 2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  transition: all 300ms ease;
}
.form__addBtn:active {
  transform: translateY(2px);
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

/* hover */
@media (hover: hover) {
  .header__themeBtn:hover,
  .filter__btn:hover,
  .item__checkbox:hover,
  .form__addBtn:hover {
    border: 2px solid var(--color-accent);
    transform: translateY(2px);
  }

  .item__deleteBtn:hover {
    color: var(--color-accent);
    transform: rotate(10deg) scale(1.2);
  }

  .form__addBtn:hover {
    color: var(--color-accent);
  }
}

/* bg image */
@media screen and (min-width: 768px) {
  body {
    background-image: image-set(
      url('/image/bg-tablet.webp') type('image/webp'),
      url('/image/bg-tablet.jpg') type('image/jpeg')
    );
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-image: image-set(
      url('/image/bg-desktop.webp') type('image/webp'),
      url('/image/bg-desktop.jpg') type('image/jpeg')
    );
  }
}
